body{
    background-color:  #eefcff !important;

}

.container{
    width: 100%;
    height: 100%;
}

.leftDiv{
    width: 50%;
}
.rightDiv{
    width: 50%;
}

.customContainer{
    padding: 100px;
}

.customContainer button{
    margin: 40px 0 40px 0;
}
.customContainer .nav-link, .floorContainer button{
    padding: 30px;
    font-size: 25px;
    font-weight: 700;
}

.customContainer .row{
    border:rgb(163, 205, 243) 1px solid;
    border-radius: 10px;
}
.customContainer .tab-content{
    background-color: #f7feff !important;
}